<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All admins</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> Login </th>
        <th> Password </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${list.empty}">
        <td colspan="2"> No Admins Exist </td>
    </tr>
    <tr th:each="user : ${list}">
        <td><span th:text="${user.id}"> Id </span></td>
        <td><span th:text="${user.login}"> Login </span></td>
        <td><span th:text="${user.password}"> Password </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>
